.list-group-item {
  line-height: 2.5;
}

body {
  background-color: rgb(203, 172, 0);
  font-family: "Oswald", sans-serif;
}
.navbar {
  margin-bottom: 25px;
}

.jumbotron {
  background-color: white;
}

.visit-shop {
  background-color: rgb(203, 172, 0);
  color: black;
}

.view-product {
  background-color: rgb(203, 172, 0);
  color: black;
}

.open-shop {
  background-color: rgb(203, 172, 0);
  color: black;
}

.section {
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 10px, auto;
  padding: 5px, 5px;
}

.card {
  margin: 5px, 5px;
}
.card-title {
  color: rgb(203, 172, 0);
  font-family: "Gelasio", serif;
}
/* //search page results styling */
li {
  margin: 5px, 5px;
}
.media-body {
  padding-left: 20px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

h1 h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.prod-desc {
  color: white;
}
.contact-seller {
  background-color: white;
  border-color: rgb(203, 172, 0);
}
.price {
}

.card-img {
  width: 200px;
  height: 200px;
}

.media {
  width: auto;
  background-color: rgba(255, 255, 255, 0.81);
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  align-self: center;
  border-radius: 15px;
  padding: 5px;
}

.container-search {
  background-color: rgba(255, 255, 255, 0.81);
  border-radius: 15px;
  padding: 15px, 15px;
  margin: 20px, 50px, 20px, 50px;
}

.container-product {
  padding: 15px, 15px;
  margin: 20px, auto;
  margin-bottom: 100px;
}

.container-form {
  background-color: rgba(255, 255, 255, 0.81);
  border-radius: 15px;
  padding: 15px, 15px;
  margin: 20px, auto;
}
